h1 {
    font-family: Verdana;
    font-size: 3em;
    color: #44546a;
}

h2 {
    font-family: Verdana;
    font-size: 2em;
    color: #44546a;
    float: left;
    width: 60%;
}

.navbar {
    padding-top:0.9em;
    font-family: Verdana;
    font-size: 1.2em;
    color: #44546a;
    width: 90%;
    left-padding: 10%;
    right-padding: 20%;
    text-align: left;
    float:left;
    width:20%;
}

.main {
    width: 90%;
    left-padding: 10%;
    right-padding: 10%;
    text-align: left;
}

.explanation {
    font-family: Verdana;
    font-size: 1.5em;
    color: #44546a;
}

p.error {
    font-family: Verdana;
    font-size: 1em;
    background-color: #ff9999;
    color: #600;
    padding:0.5em;
}

.config {
    font-family: courier;
    font-size: 1.2em;
    color: #44546a;
    float: left;
    width: 25%;
    overflow: auto;
}

.questions {
    font-family: Verdana;
    font-size: 1.2em;
    color: #44546a;
    float: left;
    width: 45%;
    padding-left: 4%;
    border-left: 1px solid;
    border-right: 1px solid;
    text-align:left;
    min-height: 300px;
}

.topology {
    font-size: 1.2em;
    color: #44546a;
    float: left;
    padding-left: 2%;
    border-left: 1px solid;
    border-right: 1px solid;
    text-align:left;
    overflow: auto;
    width:55%;
}

.download {
    font-family: Verdana;
    font-size: 1.2em;
    color: #44546a;
    float: left;
    padding-left: 2%;
    text-align:left;
    width:15%;
    overflow: auto;
}

div.topology pre {
    font-size: 0.9em;
}

.helptext {
    font-family: Verdana;
    font-size: 1em;
    color: #44546a;
    float: left;
    width: 20%;
    padding-left: 4%;
    padding-top: 30px;
    text-align:left;
}

.footer {
    font-family: Verdana;
    font-size: 1em;
    color: #44546a;
    padding-bottom:1em;
}

p.footer a {
    padding-left:1em;
    padding-right:1em;
}

label {
    font-family: Verdana;
    font-size: 1.2em;
    color: #44546a;
}

form.quest {
    text-align: left;
    padding-top:1em;
}

.start_button {
    font-family: Verdana;
    font-size: 1em;
    color: #44546a;
}

input[type=submit] {
    font-family: Verdana;
    font-size: 1.1em;
    color: #44546a;
    margin-top:1em;
}

input[type=submit].done_button {
    margin-top:0;
}

p.current_config_hdr {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Verdana;
}

p.copyright {
    font-family: Verdana;
    font-style: oblique;
    font-size: 0.5em;
    color: #44546a;
}

form.quest ul {
    list-style-type: none;
}

