<html>
    <head>
        <title>Manifest Networks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='topowiz.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <center>
            <a href="http://manifestnetworks.com"><img src="{{ url_for('static', filename='manifest_logo_small.png') }}"></a>
            <hr>
            {% block header %}
            <div class="navbar">
                <form action="{{ url_for('home') }}">
                    <input type="submit" value="<< Restart" />
                </form>
            </div>
            <h2>Manifest Network Topology Manager</h2>
            <div style="clear:both"></div>
            <hr>
            {% endblock %}

            {% block content %}
            {% endblock %}

            <div style="clear:both"></div>
            <hr>
            <p class="footer">
                <a href="http://manifestnetworks.com">Home</a>
            </p>
            <p class="copyright">&copy; Copyright 2017 Manifest Networks Inc.</p>
        </center>

    </body>
</html>
