{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="config">
        <p class="current_config_hdr">User provided config:</p>
        <pre>
{{ render_conf }}
        </pre>
    </div>
    <div class="topology">
        <p class="current_config_hdr">Generated topology manifest:</p>
        <pre>
{{ topo }}
        </pre>
    </div>
    <div class="download">
        <p class="current_config_hdr">Download link:</p>
        <a href="{{ download_link }}">Topology JSON</a>
    </div>
</div>
{% endblock %}
