{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="config">
        <p class="current_config_hdr">Current config:</p>
        <pre>
{{ render_conf }}
        </pre>
    </div>
    <div class="questions">
        <form class="quest" method="POST" action="{{ action }}" align=center>
            {{ form.csrf_token }}
            {% block form %}
            {% endblock %}
        </form>
        {% if done %}
            <p style="width:90%;text-align:right;"><i>About {{ done }} done...</i></p>
        {% endif %}
    </div>
    <div class="helptext">
        {% if help_text %}
            Explanation:<br>

            <p>{{ help_text|safe }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
