{% extends "base.html" %}

{% block header %}
<h1>Welcome to the Manifest Network Topology Manager</h1>
{% endblock %}

{% block content %}
<div class="main">
    <div class="explanation">
        <p><a href="http://manifestnetworks.com">Manifest Networks</a> is a network and security
        automation solution for multi-cloud application deployment. An advanced,
        topology aware IPAM module ensures that IP addresses of endpoints (VMs
        or pods) align with the topology of your network. This in turn makes it
        possible to effectively aggregate routes, resulting in many
        operational and security advantages:</p>

        <p>
            <ul>
                <li>Ability to use native L3 routing, allowing
                    network equipment to work at its best</li>
                <li>Greatly reduced number of routes in your
                    networking hardware</li>
                <li>Stable routing configurations, less route
                    updates required</li>
                <li>No "leaking" of endpoint routes into the
                    networking fabric</li>
            </ul>
        </p>

        <p>Key to this operation is the <b>topology
        manifest</b> which describes the underlying network topology
        of your multi-cloud cluster envrionment.</p>

        <p>This web based <b>manifest generator</b> makes describing your network toplogy simple. It will ask you a few questions about your network and then give you a link from which to download your manifest.</p>
        <br>

        <center>
            <form action="{{ url_for('is_aws') }}" align=center>
                <input class="start_button" type="submit" value="Get started..." />
            </form>
        </center>

        <br>
    </div>
</div>
{% endblock %}
